<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student_39.p0061_activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLifeCycle" />
        <activity android:name=".FromActivity" />
        <activity android:name=".ToActivity" />
        <activity android:name=".HW1Screen1Activity" />
        <activity android:name=".HW1Screen2Activity" />
        <activity android:name=".HW2Screen1Activity" />
        <activity android:name=".HW2Screen2Activity" />
        <activity android:name=".HW2Screen3Activity" />
        <activity
            android:name=".HW3Screen1Activity"/>
        <activity
            android:name=".HW3Screen2Activity"/>
        <activity
            android:name=".HW3Screen3Activity"/>
    </application>

</manifest>